PORT='PROJECT_PORT'

POSTGRES_USER='POSTGRES_USER'
POSTGRES_PASSWORD='POSTGRES_PASSWORD'
POSTGRES_DB='POSTGRES_DB_NAME'
POSTGRES_PORT='POSTGRES_DB_PORT'

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

JWT_ACCESS_SECRET='JWT_ACCESS_SECRET_KEY'
JWT_REFRESH_SECRET='JWT_REFRESH_SECRET_KEY'
JWT_ACCESS_TOKEN_TTL='TTL_FOR_ACCESS_TOKEN'
JWT_REFRESH_TOKEN_TTL='TTL_FOR_REFRESH_TOKEN'

COOKIE_DOMAIN='localhost'

NODE_ENV='dev'